# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
.DS_Store

# env
/server/config/*
.env
.env.default